<h2>Show post:</h2>

<%= image_tag(@post.image.url(:large)) %>
<br>
<%= @post.description %>

<hr>

<% if current_user %>
  <%= link_to 'Edit', edit_post_path(@post) %>
| <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>

<% end %>
