/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require custom.css
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "compass/css3";
 @import "font-awesome";


 ///////////////////  Bootstrap overriding    //////////////////////////////////

 .navbar-inverse {
   background-color: #ffffff;
   border-color: #090909;
   font-family: monospace;
   font-size: 17px;
 }

 .navbar-inverse .navbar-nav > li > a {
   color: #191717;
 }
 .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
   color: #5CB4FE;
   background-color: transparent;
 }
 .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
   color: #fff;
   background-color: #090909;
 }
 .navbar-inverse .navbar-nav > .disabled > a, .navbar-inverse .navbar-nav > .disabled > a:hover, .navbar-inverse .navbar-nav > .disabled > a:focus {
   color: #444;
   background-color: transparent;
 }



///////////////////  FLEX CONTAINER   //////////////////////////////////////////

.flex-container {

  max-width: 935px;
  margin: 0 auto 30px;
  padding: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-shrink: 0;
  flex-grow: 1;
  flex-wrap: wrap;
  flex-direction: row;

  align-items: stretch;
  justify-content: space-around;



  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-flex: 1;
  -webkit-box-align: stretch;

  -webkit-flex-wrap: wrap;
  -webkit-flex-direction: row; /* Safari */
  -webkit-flex-flow: row wrap;
}

///////////////////  FLEX ITEM   ///////////////////////////////////////////////


.flex-item {
    padding: 8px;
    width: 300px;
    // height: 300px;
    margin: auto;
    text-align: center;
    -webkit-flex-shrink: 0;
    -webkit-box-align: stretch;
}


///////////////////  ERRORS    ///////////////////////////////////////////////
.field_with_errors {   display: inline; }
.field_with_errors input { border: 1px solid #AA0000;}
.field_with_errors textarea { border: 1px solid #AA0000;}
.field_with_errors .message {
  color: #D00;
  padding-left: 9px;
  font-size: 14px;
}
