/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require custom.css
 *= require magnific-popup
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "compass/css3";
 @import "font-awesome";


 ///////////////////  Bootstrap overriding    //////////////////////////////////

 .navbar-inverse {
   background-color: #ffffff;
   border-color: #090909;
   font-family: monospace;
   font-size: 17px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .navbar-inverse .navbar-nav > li > a {
   color: #191717;
 }
 .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
   color: #5CB4FE;
   background-color: transparent;
 }
 .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
   color: #fff;
   background-color: #090909;
 }
 .navbar-inverse .navbar-nav > .disabled > a, .navbar-inverse .navbar-nav > .disabled > a:hover, .navbar-inverse .navbar-nav > .disabled > a:focus {
   color: #444;
   background-color: transparent;
 }



///////////////////  FLEX CONTAINER   //////////////////////////////////////////

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    list-style: none;
}

.flex-item {
    width: 300px;
    height: 300px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

///////////////////  ERRORS    ///////////////////////////////////////////////
.field_with_errors {   display: inline; }
.field_with_errors input { border: 1px solid #AA0000;}
.field_with_errors textarea { border: 1px solid #AA0000;}
.field_with_errors .message {
  color: #D00;
  padding-left: 9px;
  font-size: 14px;
}

///////////////////  Text area focus   ///////////////////////////////////////////////

input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  // margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  // margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

///////////////////  Avatar  ///////////////////////////////////////////////////
.round-image-50 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}
