.col-lg-12 {
    margin-bottom: 74px;
}
// views/posts/show.html.erb

.show-flex {
    background-color: #f5f5f5;

    max-width: 600px;
    text-align: center;
    -webkit-flex-shrink: 0;
    -webkit-box-align: stretch;
    margin: 0 auto 20px;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p.description {
    padding: 13px;
    line-height: 18px;
    margin-top: 15px;
}



// ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.category-home {
    position: relative
}

.simple-image {
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
    // background-color: rgba(0,0,0,.3);

}

.simple-image img {
    // filter: url("data:image/svg+xml;utf8,<svgxmlns=\'http://www.w3.org/2000/svg\'><filterid=\'grayscale\'><feColorMatrixtype=\'matrix\'values=\'0.33330.33330.3333000.33330.33330.3333000.33330.33330.33330000010\'/></filter></svg>#grayscale");
    // filter: gray;
    // -webkit-filter: grayscale(100%);
    // opacity: .3
}

.simple-image:hover img {
    filter: opacity(50%)
}

.title__rotation h1 {
    // font-size: 13px;
    // color: #dcdcdc;
    // font-family: 'Museo Sans Cyrl 100';
    // font-weight: 200;
    // position: absolute;
    // width: 100%;
    // bottom: 150px;
    // left: -100px;
    // text-transform: uppercase;
    // transform: rotate(270deg) scale(1) skew(0deg) translate(0px);
    // -webkit-transform: rotate(270deg) scale(1) skew(0deg) translate(0px);
    // -moz-transform: rotate(270deg) scale(1) skew(0deg) translate(0px);
    // -o-transform: rotate(270deg) scale(1) skew(0deg) translate(0px);
    // -ms-transform: rotate(270deg) scale(1) skew(0deg) translate(0px)
}

.title__rotation h1:after {
    // content: '';
    // width: 0;
    // background: #fff;
    // position: absolute;
    // margin-left: 20px;
    // top: 6px;
    // height: 1px
}

.simple-image:hover h1:after {
    width: 60px
}

.simple-image:hover h1 {
    color: #fff
}

.simple-image .content {
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    margin: 0 auto;
    display: block;
    left: 0;
    right: 0;
    padding: 185px 15px;
    opacity: 1;
    z-index: 9999;
    color: #fff;
}

.simple-image:hover .content {
    opacity: 0;
    height: 0;
    padding: 0 15px;
}

.hover__active {
    opacity: 0;
    bottom: 0;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: -25px;
    right: 0;
    text-align: center;
    color: #fff;

}

.simple-image,
.simple-image:hover,
.hover__active,
.simple-image .content,
.title__rotation:after,
.simple-image img,
.title__rotation h1:after,
.projects .img,
.projects .img img {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease
}

.hover__active span {
    background: #1B96FE;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding-top: 17px;
    float: left;
    display: inline-block;
    margin: 12px 12px -5px 150px;

}

.simple-image:hover .hover__active {
    opacity: 1;
    bottom: 35%
}

.hover__active a {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    margin: 0 auto;
    left: 0;
    right: 0
}
